# Auto detect text files and perform LF normalization
* text=auto

# Code files
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.xml text eol=lf
*.txt text eol=lf

# Database exports
*.sql text diff

# Binary files (Images, Flash, etc.)
*.swf binary
*.jpg binary
*.jpeg binary
*.png binary
*.gif binary
*.ico binary
